body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.address {
  font-style: normal;
}

.header-address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em; /* 0.32px/16 */
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em; /* 0.54px/18 */
  text-transform: uppercase;
}

.header-logo-studio {
  color: #2e2f42;
}

.header-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em; /* 0.32px/16 */
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #fff;
  letter-spacing: 0.02em; /* 1.12px/56 */
}

.features-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.02em; /* 0.72px/36 */
  text-transform: capitalize;
}

.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em; /* 0.4px/20 */
}

.features-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em; /* 0.32px/16 */
}

.team-item {
  background-color: #ffffff;
  text-align: center;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  letter-spacing: 0.04em; /* 0.64px/16 */
  cursor: pointer;
  background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em; /* 0.54px/18 */
  text-transform: uppercase;
}
.footer-logo-studio {
  color: #f4f4fd;
}

.footer {
  background-color: #2e2f42;
}

.footer-paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 24px/16 */
  letter-spacing: 0.02em; /* 0.32px/16 */
  color: #f4f4fd;
}

.team {
  background-color: #f4f4fd;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
